<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jzm.ttrs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="我的行程"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register"
            android:label="用户注册"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrainQuery"
            android:label="车次查询"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModifyUserInfo"
            android:label="查看/修改信息"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TimeTable"
            android:label="时刻表"
            android:launchMode="singleTask"
            android:theme="@style/translucent" />
        <activity
            android:name=".TrainDetailManifest"
            android:label="车次详细信息"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Calender"
            android:label="日历"
            android:launchMode="singleTask"
            android:theme="@style/translucent" />
        <activity
            android:name=".TicketManifest"
            android:label="车票查询"
            android:launchMode="singleTask" />
        <activity
            android:name=".OrderManifest"
            android:label="我已购买的票"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".SelectStation"
            android:launchMode="singleTask"
            android:label="车站选择">
        </activity>
    </application>

</manifest>