<!DOCTYPE HTML >
<html lang="zh_cn">
<head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %} - 列车订票系统</title>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/jquery-ui.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/jquery.validate.min.js"></script>
    <script src="/static/additional-methods.js"></script>
    <link href="/static/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/jquery-ui.css">
    {% block head_extra %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">NAIVE订票系统</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu" aria-controls="navmenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/">首页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/query">查询</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/query_train">查询车次</a>
          </li>

          {% if admin == 2 %}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                管理
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/add_train">增加车次</a>
                <a class="dropdown-item" href="/manage_train">管理车次</a>
                <a class="dropdown-item" href="/query_user">管理用户</a>
              </div>
          </li>
          {% endif %}
        </ul>

        <div class="btn-group">
          {% if user %}
          <a href="/user/{{ user }}" class="btn btn-secondary">
            {{ user }}
          </a>
          <a href="/query_order?id={{ user }}&catalog=TZCOGDK" class="btn btn-info">
            购票记录
          </a>          
          <a href="/action/logout" class="btn btn-primary">
            Log out
          </a>
          {% else %}
          <a href="/login" class="btn btn-secondary">
            登录
          </a>
          <a href="/signup" class="btn btn-primary">
            注册
          </a>
          {% endif %}
        </div>
      </div>
    </nav>
    {% block body %}{% endblock %}
    <footer class="container">
      <p>&copy;Copyright 2018</p>
    </footer>
</body>
