<!DOCTYPE HTML >
<html lang="zh_cn">
<head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %} - 列车订票系统</title>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/jquery-ui.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/jquery.validate.min.js"></script>
    <script src="/static/additional-methods.js"></script>
    <link href="/static/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/jquery-ui.css">

    {% block head_extra %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">NAIVE订票系统</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu" aria-controls="navmenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/">首页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/query">查询</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/query_train">查询车次</a>
          </li>

          {% if admin == 2 %}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                管理
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/add_train">增加车次</a>
                <a class="dropdown-item" href="/manage_train">管理车次</a>
                <a class="dropdown-item" href="/query_user">管理用户</a>
              </div>
          </li>
          {% endif %}
        </ul>

        <div class="btn-group" id="nav">
          {% if user %}
          <a href="/user/{{ user }}" class="btn btn-secondary">
            {{ user }}
          </a>
          <a href="/query_order?id={{ user }}&catalog=TZCOGDK" class="btn btn-info">
            购票记录
          </a>          
          <a href="/action/logout" class="btn btn-primary">
            Log out
          </a>
          {% else %}
          <a href="/login" class="btn btn-secondary" data-toggle="modal" data-target="#login-modal">
            登录
          </a>
          <a href="/signup" class="btn btn-primary">
            注册
          </a>
          {% endif %}
        </div>
      </div>
    </nav>
    {% block body %}{% endblock %}
    <footer class="container">
      <p>&copy;Copyright 2018</p>
    </footer>

    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="login-modal-label">登录</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="form-signin" id="loginForm">
              <div class="alert alert-warning  error" role="alert" id="error" name="error" style="display: none;">
              </div>
              <div class="form-group">
                <input class="form-control" id="userid" name="userid" placeholder="用户ID">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="密码">
              </div>
              <button type="submit"class="btn btn-primary">登录</button>
            </form>
          </div>
            
        </div>
      </div>
    </div>
    <script>
      
      // 在键盘按下并释放及提交后验证提交表单
        $("#loginForm").validate({
          errorLabelContainer: $("div.error"),
          errorContainer: ".error",
          wrapper: "div",
          rules: {
            userid: {
              required: true,
              minlength: 2,
              noSpace:true,
              byteRangeLength:20
            },
            password: {
              required: true,
              minlength: 6,
              noSpace:true,
              byteRangeLength:20
            }
          },
          messages: {
            userid: {
              required: "请输入用户名",
              minlength: "用户名必需由两个字母组成",
              noSpace:"用户名不能含有空格",
              byteRangeLength:"用户名不能超过20B"
            },
            password: {
              required: "请输入密码",
              minlength: "密码长度不能小于 6 个字母",
              noSpace:"密码不能含有空格",
              byteRangeLength:"密码不能超过20B"
            }
           },
           submitHandler: function(form) {
            $.post("/action/login",
            {userid:$("#userid").val(),
            password:$("#password").val()
            },
            function(result){
              
              if (result == "1"){
                location.reload();
              }else{
                $("#error").show();
                $("#error").text("ID或密码错误");
              }
            });
          }
          });

 
      $("#login").click(function(e){
        if($("#loginFom").validate()){
          $.post("/action/login",
            {userid:$("#userid").val(),
            password:$("#password").val()
            },
            function(result){
              alert(result);
              if (result == "1"){
                location.reload();
              }else{
                $("error").html("ID或密码错误");
              }
          });
        };
      });
    </script>
</body>
