{% extends "base.html" %}
{% block title %}首页{% endblock %} 
{% block head_extra %} {%endblock %}
{% block body %}

        {% if message %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
      	<div class="jumbotron index">

        <div class="container">
            <h1 class="display-5">订票系统</h1>
            <p>去什么地方呢？这么晚了</p>
            <p>美丽的火车，孤独的火车？ </p>
            <p>凄苦是你汽笛的声音</p>
            <p>令人记起了很多事情</p>
        </div>
        </div>
        <hr>
        <div class="row">
          <p>什么？手机上看网页变形？移动端适配太难做啦！快
            <a href="https://pan.baidu.com/s/1Tpy77cNBqImNr3Iu4hk70g"
            data-container="body" data-toggle="popover" data-placement="bottom"
            data-html="true"
            data-trigger="hover" 
            data-content="<img src='/static/panda.png' width='100%'/>">按我</a>
            下载最新版客户端小熊猫12306！</p>
         
        </div>
        <div class="row ">
          <div class="col-sm-3">
            <img class="img-thumbnail" src="/static/train3.jpg"/>
          </div>
          <div class="col">
            <h3>安全性</h3>
            <p class="intro">古斯塔夫巨炮。这座铁道炮是德国希特勒时期由克鲁伯制造的超重型火炮。其设计与制造目标为提供前线部队曲射支援火力，击毁当时仍然为各国陆军视为防御主干的大型要塞与巨型碉堡。为了追求强大的破坏力，因此该火炮口径高达800毫米，重达1344吨，可将重达7吨的炮弹投射到37千米以外的目标。</p>
            <p class="text-right intro"> ——维基百科</p>
          </div>
        </div>
        <div class="row ">
            <div class="col">
              
              <h3>舒适性</h3>
              <p class="intro">大风起兮云飞扬！安得猛士兮走四方！麻匪，任何时候都要剿，不剿不行，你们想想，你<strong>带着老婆，出了城，吃着火锅还唱着歌</strong>，突然就被麻匪劫了！所以，没有麻匪的日子，才是好日子！</p>
              <p class="text-right intro"> ——让子弹飞</p>
            </div>
            <div class="col-sm-3">
              <img class="img-thumbnail" src="/static/train4.jpg"/>
            </div>
          </div>
<script>
 $(function () {
  $('[data-toggle="popover"]').popover()
 });
</script>




{% endblock %}