{% extends "base.html" %}
{% block title %}首页{% endblock %} 
{% block head_extra %} {%endblock %}
{% block body %}

        {% if message %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
      	<div class="jumbotron index">

        <div class="container">
            <h1 class="display-5">订票系统</h1>
            <p>去什么地方呢？这么晚了</p>
            <p>美丽的火车，孤独的火车？ </p>
            <p>凄苦是你汽笛的声音</p>
            <p>令人记起了很多事情</p>
        </div>
      	</div>
        <div class="row">
          <div class="col-md-4">
            <h2>查询</h2>
            <p>很慢的查询功能</p>
            <p><a class="btn btn-secondary" href="#" role="button">没有 details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>订票</h2>
            <p>订到了票也没有车坐</p>
            <p><a class="btn btn-secondary" href="#" role="button">没有 details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>用户</h2>
            <p>一群傻子</p>
            <p><a class="btn btn-secondary" href="#" role="button">没有 details &raquo;</a></p>
          </div>
        </div>

        <hr>




{% endblock %}