{% extends "base.html" %}
{% block title %}查询车票{% endblock %}
{% block head_extra %}
    <script>
    	$(function() {
    var availableTags = [
      {% for item in station %}
        "{{item}}",
      {% endfor %}
    ];
    $( "#loc1" ).autocomplete({
      source: availableTags
    });
    $( "#loc2" ).autocomplete({
      source: availableTags
    });
  });

      $(document).ready(function(){
  $("#submit").click(function(){
    var ca = new String("");
    $("input.catalog").each(function(){
      if($(this).prop("checked"))
        ca += $(this).val();
    });
    $.post("/action/query",
    {
      loc1: $("#loc1").val(),
      loc2: $("#loc2").val(),
      date: $("#date").val(),
      catalog: ca,
      transfer: $("#transfer").prop("checked")
    },
    function(data,status){
      $("#result").html(data);
      $("[data-toggle='popover']").popover({html : true });
    });
  });
});
    </script>
{% endblock %}
{% block body %}

      <div class="form query">
        
          <div class="form-row">
            <div class="form-group-inline col-md-4 ui-widget" >
              <label for="loc1">出发地</label>
              <input class="form-control" id="loc1" value="宁波">
            </div>
            <div class="form-group col-md-4 ui-widget">
              <label for="loc2">目的地</label>
              <input class="form-control" id="loc2" value="杭州">
            </div>
            <div class="form-group col-md-4">
                <label for="date">日期</label>
                <input class="form-control" type="date" id="date" value="2018-06-01">
              </div>
          </div>
          <div class="form-row">

            <div class="form-group col-md-6">
              <label>类型</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input catalog" type="checkbox" id="catalogT" value="T">
                <label class="form-check-label" for="catalogT">T</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input catalog" type="checkbox" id="catalogZ" value="Z">
                <label class="form-check-label" for="catalogZ">Z</label>
              </div>
              <div class="form-check form-check-inline">
                  <input class="form-check-input catalog" type="checkbox" id="catalogC" value="C">
                  <label class="form-check-label" for="catalogC">C</label>
              </div>
              <div class="form-check form-check-inline">
                  <input class="form-check-input catalog" type="checkbox" id="catalogO" value="O">
                  <label class="form-check-label" for="catalogO">O</label>
              </div>
              <div class="form-check form-check-inline">
                  <input class="form-check-input catalog" type="checkbox" id="catalogG" value="G">
                  <label class="form-check-label" for="catalogG">G</label>
              </div>
              <div class="form-check form-check-inline">
                  <input class="form-check-input catalog" type="checkbox" id="catalogD" value="D">
                  <label class="form-check-label" for="catalogD">D</label>
              </div>
              <div class="form-check form-check-inline">
                  <input class="form-check-input catalog" type="checkbox" id="catalogK" value="K" checked>
                  <label class="form-check-label" for="catalogK">K</label>
              </div>
            </div>
            <div class="form-group form-check">
              <input class="form-check-input" type="checkbox" id="transfer" />
              <label class="form-check-label" for="transfer">是否查询中转</label>
            </div>
          </div>
          <button id="submit" type="submit" class="btn btn-info">查询</button>
      </div>
      <div class = "row" id="result">
      </div>
{% endblock %}