{% extends "base.html" %}
{% block title %}查询车次{% endblock %}
{% block head_extra %}
    <script>
    $(document).ready(function(){
      $("#submit").click(function(){
        $.ajax({url:"/action/query_train?train_id=" + $("#train_id").val(),success:function(result){
        $("#result").html(result);
        }});
      });
    });
    </script>
{% endblock %}
{% block body %}
      

      <div class="container" >
        <div  class="form-inline">
        	<div class="form-group col-10">
    			<label for="train_id" class="col-4">列车ID</label>
   				<input type="text" class="form-control col-8" id="train_id">
  			 </div>
          <button id="submit" class="btn btn-primary">查询</button>
        </div>
      <hr/>
      
      <div id="result" class = "row">
      </div>
    </div>

{% endblock %}
