body {
  padding-top: 4.5rem;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}
.table tbody tr td{
        vertical-align: middle;
        margin-top:0;
    }

.table thead tr th{
        vertical-align: middle;
    }